
<div class="footer-container">
    <div class="footer-container-address">
        <img src="IMG/flourishLogo.webp" alt="">
        <h3>Trade With FlorishFx.</h3>
        <div class="footer-container-address-body">
            <p></p>
        </div>
    </div>
    <div class="footer-container-links">
        <h4>company</h4>
        <li><a href="#/"  class="text-decoration-none" style="color: purple;">Home</a></li>
        <li><a href="#/about"  class="text-decoration-none" style="color: purple;">About Us</a></li>
        <li><a href="#/contact "  class="text-decoration-none" style="color: purple;">Contact us</a></li>
    </div>
</div>
<script>
    ScrollReveal({ 
      reset: true,
      distance: '8px',
      duration: 2500,
      delay: 400
     });

     ScrollReveal().reveal('.fx, .stocks , .commodities, .cdfs', { delay: 500 });
     ScrollReveal().reveal('.tools, .execution, .minimum, .over', { delay: 500, origin: 'left' });
     ScrollReveal().reveal('.platform-text', { delay: 500, origin: 'left' });
     ScrollReveal().reveal('.platform-picture', { delay: 500, origin: 'right' });
     ScrollReveal().reveal('.traders-container-header h1', { delay: 500, origin: 'left' });
     ScrollReveal().reveal('.reputation, .advance, .clients', { delay: 500 });
     ScrollReveal().reveal('.image', { delay: 500, origin: 'right' });
     ScrollReveal().reveal('.market-analysis-text', { delay: 500, origin: '.left' });
     ScrollReveal().reveal('.youtube-video', { delay: 500, origin: '.right' });
     ScrollReveal().reveal('.classic-package', { delay: 500, origin: '.left' });
     ScrollReveal().reveal('.platinum-package', { delay: 500, origin: '.right' });
     ScrollReveal().reveal('.forex-awards', { delay: 500, origin: 'bottom'});
     ScrollReveal().reveal('.metaphoto', { delay: 500, origin: '.left' });
     ScrollReveal().reveal('.meta-text', { delay: 500, origin: '.right' });
     ScrollReveal().reveal('.card-container-text', { delay: 500, origin: '.left' });
     ScrollReveal().reveal('.card-container-image', { delay: 550, origin: '.right' });
  //    ScrollReveal().reveal('.carousel-caption', { delay: 500, origin: '.left' });
  //    carousel-caption
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="//code.tidio.co/tx97fgq7dibhmfqig3ljzgpp8nhuxrp6.js" async></script>
<script src="Js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>